.warning{
  height: 40px;
  background-color: rgb(170, 45, 45);
  position:absolute;
  right: 0;
  top: 10%;
  width: 250px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 8px;
}